@page "/"
@using PatientManager.Blazor.Data

<!-- Header -->
<PageTitle>Sheffield Hospital Portal - Home</PageTitle>

<!-- Hospital Info -->
<h1>Sheffield Hospital at Downtown</h1>
<h5>145 Freedom Avenue, Sheffield / SP 27650</h5>

<!-- About Hospital -->
<p></p>
<h3>About Us</h3>
<p>
    With over 19,000 dedicated staff caring for patients around the clock, we are the largest healthcare provider in Downtown Sheffield. <br>
    Our main site, Sheffield Hospital at Downtown – one of the country’s principal teaching hospitals – is shared with University of Sheffield<br>
    which trains medical students and carries out advanced medical research. Sheffield Hospital also hosts the University of Sheffield <br>
    and St.Peter University Faculty of Health and Social Care Sciences, which is responsible for training a wide range of healthcare <br>
    professionals from across the region.
</p>
As well as acute hospital services, we provide a wide variety of specialist care and a full range of community services to patients of all ages following
<br>
integration with Community Services Sheldon in 2008.
<p>
    Sheffield Hospital serves a population of 1.3 million across Downtown Sheffield. A large number of services, such <br>
    as cardiothoracic medicine and surgery, neurosciences and renal transplantation, also cover significant populations from Downtown and Worwick, <br>
    totalling around 3.5 million people.
</p>

<p>
    The trust also provides care for patients from a larger catchment area in western Lotany, for specialties such as complex pelvic trauma. Other <br>
    services treat patients from all over the country, such as family HIV care and bone marrow transplantation for non-cancer diseases. The trust also <br>
    provides a nationwide state-of-the-art endoscopy training centre.
</p>

<p>
    A number of our services are members of established clinical networks which bring together doctors, nurses and other clinicians from a range of <br>
    healthcare providers working to improve the quality of services for patients. These include the Downtown Cardiac and Stroke Network and the <br>
    Downtown Sheffield and Worwick Trauma Network, for which Sheffield Hospital is the designated heart attack centre, hyper-acute stroke unit and <br>
    major trauma centre.
</p>

<!-- About Hospitals -->
<p></p>
<h3>Hospitals</h3>
<ul>
    <li>Sheffield Hospital at Downtown</li>
    <li>Sheffield Hospital at Worwick</li>
    <li>Sheffield Hospital at Chesten</li>
    <li>Sheffield Hospital at Woodham</li>
    <li>Sheffield Hospital at Graham</li>
</ul>

<!-- About Clinics and Health Centers -->
<p></p>
<h3>General Clinics and Health Centers</h3>
<ul>
    <li>Springfields Avenue General Health Clinic</li>
    <li>Londonderry Avenue General Health Clinic</li>
    <li>Martyr`s Avenue General Health Clinic</li>
    <li>Liberty Drive Health Center</li>
    <li>Stoneshire Health Clinic</li>
</ul>

<!-- About Special Clinics -->
<p></p>
<h3>Special Health Clinics</h3>
<ul>
    <li>Thunberg Childern`s Clinic</li>
    <li>Ryan Children`s Clinic</li>
    <li>Woodward Children`s Clinic</li>
    <li>Freedom Martyrs Veterans Clinic</li>
    <li>Stonewall Sexual Health Clinic</li>
    <li>ACT UP Sexual Health Clinic</li>
    <li>Woodward Mental Health Clinic</li>
    <li>Stoneshire Mental Health Clinic</li>
</ul>

<!-- Contact Information -->
<p></p>
<h3>Contact Information</h3>
<p>
    <strong>Phone: </strong>+27 (234) 235-3433<br>
    <strong>E-Mail: </strong>health@sheffielddowntown.lt<br>
    <strong>Address: </strong>145 Freedom Avenue, Sheffield / SP 27650
</p>
